@import "variables/variables";

.btn {
  box-shadow: none $im;
  &-alt-primary {
    background-color: $bg-alt-blue $im;
    border-color: $bg-alt-blue;
    color: $text-alt-primary $im;
    &:hover {
      background-color: #9acbf3 $im;
      border-color: #9acbf3 $im;
    }
  }

  &-alt-secondary {
    background-color: $bg-alt-secondary $im;
    border-color: $bg-alt-secondary;
    color: $text-alt-secondary $im;
    &:hover {
      background-color: #c5cdd8 $im;
      border-color: #c5cdd8;
    }
  }

  &-alt-success {
    background-color: $bg-alt-success $im;
    border-color: $bg-alt-success;
    color: $text-alt-success $im;
    &:hover {
      background-color: #d3e9b8 $im;
      border-color: #d3e9b8 $im;
    }
  }

  &-alt-danger {
    background-color: #fae9e8 $im;
    border-color: #fae9e8;
    color: #af1310 $im;
    &:hover {
      background-color: #f1c1be $im;
      border-color: #f1c1be $im;
    }
  }

  &-block-option {
    display: inline-block;
    padding: 6px 5px;
    line-height: 1.2;
    color: $white;
    font-weight: 400;
    background: 0 0;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  &--sm {
    padding: .357143rem .642857rem $im;
    font-size: .8286rem $im;
    line-height: 16px $im;
  }

  &-rounded {
    border-radius: 50px $im;
  }
}