@import "variables/variables";

.xxs-size {
  font-size: $xxs-size;
}

.xs-size {
  font-size: $xs-size;
}

.sm-size {
  font-size: $sm-size;
}

.nm-size {
  font-size: $nm-size;
}

.md-size {
  font-size: $md-size;
}

.lg-size {
  font-size: $lg-size;
}

.xl-size {
  font-size: $xl-size;
}

.xxl-size {
  font-size: $xxl-size;
}

.xxxl-size {
  font-size: $xxxl-size;
}

.xxxxl-size {
  font-size: $xxxxl-size;
}